<article class="recipe-detail">
    <img src="{{recipe.image}}" alt="{{recipe.title}}">
    <h2>{{recipe.title}}</h2>
    <p>{{recipe.description}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Ingredients:</h3>
    <p>{{recipe.ingredients}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Instructions:</h3>
    <p>{{recipe.instructions}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>People Who Recommend: {{recommendCount}}</h3>
</article>
{{#if user}}
<div class="command">
    {{#if isCreator}}
    <a href="/recipes/{{recipe.id}}/edit">Edit</a>
    <a href="/recipes/{{recipe.id}}/delete">Delete</a>
    {{else}}
    {{#unless isRecommend}}
    <a href="/recipes/{{recipe.id}}/recommend">Recommend</a>
    {{else}}
    <p>You've already recommended this recipe!</p>
    {{/unless}}
    {{/if}}
</div>
{{/if}}


{{!-- <section class="details-hero">
    <div class="container">
        <h2>Laptop Details</h2>
    </div>
</section>

<section class="details-content">
    <div class="container">
        <div class="product-details">
            <div class="product-image">
                <img src="{{device.imageUrl}}" alt="Laptop">
            </div>
            <div class="product-info">
                <h3>Brand: {{device.brand}}</h3>
                <p><strong>Model:</strong> {{device.model}}</p>
                <p><strong>Hard Disk:</strong> {{device.hard-disk}}</p>
                <p><strong>Screen Size:</strong> {{device.screen-size}}</p>
                <p><strong>RAM:</strong> {{device.ram}}</p>
                <p><strong>Operating System:</strong> {{device.operating-system}}</p>
                <p><strong>CPU:</strong> {{device.cpu}}</p>
                <p><strong>GPU:</strong> {{device.gpu}}</p>
                <p><strong>Price:</strong> {{device.price}}</p>
                <p><strong>Color:</strong> {{device.color}}</p>
                <p><strong>Weight:</strong> {{device.weight}}</p>
            </div>
        </div>
        {{#if user}}
        <div class="product-actions">
            {{#if isCreator}}
            <button class="btn edit"><a href="/products/{{device.id}}/edit">Edit</a></button>
            <button class="btn delete"><a href="/products/{{device.id}}/delete">Delete</a></button>
            {{else}}
            {{#unless isPrefered}}
            <button class="btn prefer"><a href="/products/{{device.id}}/prefer">Prefer</a></button>
            {{else}}
            <p class="prefer-message">You've already preferred this device</p>
            {{/unless}}
            {{/if}}
        </div>
        {{/if}}
    </div>
</section>
</body>

</html> --}}