<div class="product-item">
    <img src="{{imageUrl}}">
    <h3>{{brand}} {{model}}</h3>
    <h2>${{price}}</h2>
    <p>CPU: {{cpu}}</p>
    <p>GPU: {{gpu}}</p>
    <p>Screen: {{screen-size}}</p>
    <a href="/products/{{_id}}/details" class="btn">View Details</a>
</div>